function Array2.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push this 1
call Array.new 1
pop this 0
push pointer 0
return
function Array2.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push constant 0
return
function Array2.set 0
push argument 0
pop pointer 0
push argument 2
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Array2.get 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Array2.print 1
push argument 0
pop pointer 0
push constant 2
call String.new 1
push constant 91
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
call String.new 1
push constant 93
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Array2.contains 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
function Array2.sort 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push constant 0
not
pop local 0
push constant 1
pop local 1
label WHILE_EXP1
push local 1
push local 2
lt
not
if-goto WHILE_END1
push local 1
push this 0
add
pop pointer 1
push that 0
push local 1
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push constant 1
sub
push this 0
add
push local 1
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push this 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
