function Shape.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 257
pop this 0
push constant 17
pop this 1
push constant 0
pop this 2
push constant 257
push constant 17
push constant 271
push constant 32
call Screen.drawRectangle 4
pop temp 0
push constant 241
push constant 17
push constant 255
push constant 32
call Screen.drawRectangle 4
pop temp 0
push constant 273
push constant 17
push constant 287
push constant 32
call Screen.drawRectangle 4
pop temp 0
push constant 257
push constant 0
push constant 271
push constant 15
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Shape.eraseOrDraw 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 14
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 16
add
push this 1
push this 0
push constant 30
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
sub
push this 1
push this 0
push constant 2
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
sub
push this 0
push constant 14
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 16
add
push this 1
push this 0
push constant 30
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
sub
push this 0
push constant 14
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
add
push this 0
push constant 14
add
push this 1
push constant 32
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 16
add
push this 1
push this 0
push constant 30
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
sub
push this 1
push this 0
push constant 2
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
add
push this 0
push constant 14
add
push this 1
push constant 32
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 16
sub
push this 1
push this 0
push constant 2
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
add
push this 0
push constant 14
add
push this 1
push constant 32
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 17
sub
push this 0
push constant 14
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push constant 0
return
function Shape.moveRight 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Shape.eraseOrDraw 2
pop temp 0
push this 0
push constant 16
add
pop this 0
push this 1
pop this 1
push pointer 0
push constant 0
not
call Shape.eraseOrDraw 2
pop temp 0
push constant 0
return
function Shape.moveLeft 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Shape.eraseOrDraw 2
pop temp 0
push this 0
push constant 16
sub
pop this 0
push this 1
pop this 1
push pointer 0
push constant 0
not
call Shape.eraseOrDraw 2
pop temp 0
push constant 0
return
function Shape.moveDown 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Shape.eraseOrDraw 2
pop temp 0
push this 0
pop this 0
push this 1
push constant 1
add
pop this 1
push pointer 0
push constant 0
not
call Shape.eraseOrDraw 2
pop temp 0
push constant 0
return
function Shape.drop 0
push argument 0
pop pointer 0
label WHILE_EXP0
push pointer 0
call Shape.ground 1
not
if-goto WHILE_END0
push pointer 0
call Shape.moveDown 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Shape.turn 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 16
sub
push this 1
push this 0
push constant 2
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 17
add
push this 0
push constant 14
add
push this 1
push constant 32
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push constant 17
sub
push this 0
push constant 14
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 16
sub
push this 1
push this 0
push constant 2
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 16
add
push this 1
push this 0
push constant 30
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 17
sub
push this 0
push constant 14
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push this 1
push constant 17
add
push this 0
push constant 14
add
push this 1
push constant 32
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 16
add
push this 1
push this 0
push constant 30
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push this 2
push constant 1
add
pop this 2
push this 2
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 2
label IF_FALSE4
push constant 0
return
function Shape.ground 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
sub
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push constant 16384
push constant 32
push this 1
push constant 34
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
label IF_FALSE4
push this 2
push constant 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 16384
push constant 32
push this 1
push constant 34
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
return
label IF_FALSE8
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
return
label IF_FALSE9
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
sub
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
return
label IF_FALSE10
label IF_FALSE7
push this 2
push constant 3
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 16384
push constant 32
push this 1
push constant 34
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
return
label IF_FALSE12
push constant 16384
push constant 32
push this 1
push constant 17
add
call Math.multiply 2
add
push this 0
push constant 16
sub
push constant 16
call Math.divide 2
add
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
return
label IF_FALSE13
label IF_FALSE11
push constant 0
not
return
function Shape.roof 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 20
lt
push this 1
push constant 10
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Shape.Rwall 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
push this 2
push constant 1
eq
or
push this 2
push constant 2
eq
or
push this 0
push constant 289
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 2
push constant 3
eq
push this 0
push constant 305
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Shape.Lwall 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
push this 2
push constant 3
eq
or
push this 2
push constant 2
eq
or
push this 0
push constant 199
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 2
push constant 1
eq
push this 0
push constant 183
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Shape.full 0
push argument 0
pop pointer 0
push constant 0
return
function Shape.clearRow 0
push argument 0
pop pointer 0
push constant 0
return
function Shape.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
