function Tetris.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 172
push constant 0
push constant 175
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 321
push constant 0
push constant 324
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 175
push constant 252
push constant 321
push constant 255
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Tetris.play 0
push argument 0
pop pointer 0
call Shape.new 0
pop this 4
label WHILE_EXP0
push this 4
call Shape.ground 1
not
if-goto WHILE_END0
push this 4
call Shape.moveDown 1
pop temp 0
push constant 5
pop this 3
label WHILE_EXP1
push this 4
call Shape.ground 1
push this 3
and
push constant 0
gt
not
if-goto WHILE_END1
push this 4
call Shape.moveDown 1
pop temp 0
push this 3
push constant 1
sub
pop this 3
push constant 4
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
call Keyboard.keyPressed 0
push constant 132
eq
push this 4
call Shape.Rwall 1
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
call Shape.moveRight 1
pop temp 0
label IF_FALSE0
call Keyboard.keyPressed 0
push constant 130
eq
push this 4
call Shape.Lwall 1
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
call Shape.moveLeft 1
pop temp 0
label IF_FALSE1
call Keyboard.keyPressed 0
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 10
pop this 3
label WHILE_EXP2
push this 4
call Shape.ground 1
push this 3
and
push constant 0
gt
not
if-goto WHILE_END2
push this 4
call Shape.moveDown 1
pop temp 0
push this 3
push constant 1
sub
pop this 3
push constant 4
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE2
call Keyboard.keyPressed 0
push constant 128
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
call Shape.drop 1
pop temp 0
label IF_FALSE3
call Keyboard.keyPressed 0
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
call Shape.turn 1
pop temp 0
label IF_FALSE4
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push this 4
call Shape.roof 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 12
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Tetris.play 1
pop temp 0
push constant 0
return
function Tetris.endGame 0
push argument 0
pop pointer 0
push constant 0
not
return
function Tetris.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push this 4
call Shape.dispose 1
pop temp 0
push constant 0
return
