function ScreenPlayer.new 2
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 7
pop local 0
push constant 7
pop local 1
label WHILE_EXP0
push local 0
push constant 96
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 512
lt
not
if-goto WHILE_END1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push constant 3
add
push local 0
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 12
add
push local 0
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 0
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 5
add
push local 1
push constant 10
add
push local 0
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 6
add
push local 1
push constant 11
add
push local 0
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 3
add
push local 0
push constant 7
add
push local 1
push constant 12
add
push local 0
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 8
add
push local 1
push constant 13
add
push local 0
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 13
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 13
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 10
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 9
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 10
add
push local 0
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 0
push constant 11
add
push local 1
push constant 9
add
push local 0
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 96
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 7
pop local 1
push local 0
push constant 32
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 6
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function ScreenPlayer.alienHit 2
push argument 0
pop pointer 0
push constant 7
push argument 1
push constant 96
call Math.multiply 2
add
pop local 0
push constant 7
push argument 2
push constant 32
call Math.multiply 2
add
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 16
add
push local 1
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function ScreenPlayer.getRow 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function ScreenPlayer.setRow 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 1
push this 0
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function ScreenPlayer.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
