function ScreenPlayer2.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 6
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function ScreenPlayer2.cycleCounter 0
push argument 0
pop pointer 0
push this 2
push constant 1
add
pop this 2
push this 2
push constant 8
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 2
push this 1
push constant 1
add
pop this 1
push this 1
push constant 8
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 1
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function ScreenPlayer2.print 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call ScreenPlayer2.template 2
pop temp 0
push pointer 0
call ScreenPlayer2.cycleCounter 1
pop temp 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
pop this 3
push constant 6
pop this 4
label IF_FALSE0
push this 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 4
pop this 3
push constant 11
pop this 4
label IF_FALSE1
push this 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 4
pop this 3
push constant 16
pop this 4
label IF_FALSE2
push this 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 8
pop this 3
push constant 16
pop this 4
label IF_FALSE3
push this 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 12
pop this 3
push constant 16
pop this 4
label IF_FALSE4
push this 1
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 12
pop this 3
push constant 11
pop this 4
label IF_FALSE5
push this 1
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 12
pop this 3
push constant 6
pop this 4
label IF_FALSE6
push this 1
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 8
pop this 3
push constant 6
pop this 4
label IF_FALSE7
push pointer 0
push constant 0
not
call ScreenPlayer2.template 2
pop temp 0
push constant 0
return
function ScreenPlayer2.template 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 4
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 2
push constant 6
lt
not
if-goto WHILE_END0
push constant 0
pop local 3
push this 3
pop local 0
label WHILE_EXP1
push local 3
push local 2
push this 0
add
pop pointer 1
push that 0
lt
not
if-goto WHILE_END1
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END0
push local 1
push constant 3
add
push local 0
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 12
add
push local 0
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 0
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 5
add
push local 1
push constant 10
add
push local 0
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 6
add
push local 1
push constant 11
add
push local 0
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 3
add
push local 0
push constant 7
add
push local 1
push constant 12
add
push local 0
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 8
add
push local 1
push constant 13
add
push local 0
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 13
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 4
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 11
add
push local 0
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 2
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 13
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 10
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 9
add
push local 0
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 1
push constant 5
add
push local 0
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 10
add
push local 0
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 6
add
push local 0
push constant 11
add
push local 1
push constant 9
add
push local 0
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 32
add
pop local 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 96
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ScreenPlayer2.alienHit 2
push argument 0
pop pointer 0
push constant 7
push argument 1
push constant 96
call Math.multiply 2
add
pop local 0
push constant 7
push argument 2
push constant 32
call Math.multiply 2
add
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 20
add
push local 1
push constant 20
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function ScreenPlayer2.possibleHit 0
push argument 0
pop pointer 0
push this 4
push constant 16
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
not
return
label IF_END0
function ScreenPlayer2.getRow 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function ScreenPlayer2.setRow 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 1
push this 0
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function ScreenPlayer2.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
