function Shooter.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 16
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Shooter.move 1
push argument 0
pop pointer 0
push constant 1
neg
pop local 0
push argument 1
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Shooter.clear 1
pop temp 0
push pointer 0
call Shooter.printTank 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push argument 1
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 30
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 1
add
pop this 0
push pointer 0
call Shooter.clear 1
pop temp 0
push pointer 0
call Shooter.printTank 1
pop temp 0
label IF_FALSE3
label IF_FALSE2
push argument 1
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop this 1
push argument 2
push this 0
call Bullet.fired 2
pop temp 0
push local 0
return
label IF_FALSE5
label IF_FALSE4
push this 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 2
call Bullet.printBullet 1
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
pop this 1
label IF_FALSE7
label IF_FALSE6
push local 0
return
function Shooter.printTank 2
push argument 0
pop pointer 0
push constant 3
push constant 16
push this 0
call Math.multiply 2
add
pop local 1
push constant 220
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push constant 11
add
push local 0
push local 1
push constant 13
add
push local 0
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 2
add
pop local 0
push local 1
push constant 9
add
push local 0
push local 1
push constant 15
add
push local 0
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 5
add
pop local 0
push local 1
push constant 4
add
push local 0
push local 1
push constant 20
add
push local 0
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 2
add
pop local 0
push local 1
push local 0
push local 1
push constant 24
add
push local 0
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Shooter.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 220
push constant 511
push constant 235
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Shooter.destroyed 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
return
function Shooter.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
